.wrapper {
    display: flex;
    overflow: hidden;
    margin-bottom: 1rem;
    justify-content: center;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

button {
    width:10rem;
    border-radius: 15px;
    padding: 8px 14px;
    font-size: 14px;
    font-family: sans-serif;
    color: #ffff;
    background: #e92063;
    cursor: pointer;
    transition: background 0.1s;
}

button:hover {
    background: #af0d43;
}